/*--MENU------------------------------------------------------------*/
.menu {
	
}

.menu.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: rgba(255,255,255,.71);
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  z-index: 999999;
}
.menu img {
  width: 200px;
}


/*--HOME-----------------------------------------------------------*/
.home {
  width: 100%;
  height: 100%;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table;
  background: url(../img/1.jpg) fixed no-repeat 50% 50%;
  background-size: cover;
}

.home video {
	-moz-transform: translateX(50%) translateY(50%);
	-webkit-transform: translateX(50%) translateY(50%);
	-ms-transform: translateX(50%) translateY(50%);
	transform: translateX(50%) translateY(50%);
	position: absolute;
	bottom: 50%;
	right: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.home:before {
	-moz-transition: opacity 3s ease;
	-webkit-transition: opacity 3s ease;
	-ms-transition: opacity 3s ease;
	transition: opacity 3s ease;
	-moz-transition-delay: 1.25s;
	-webkit-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	transition-delay: 1.25s;
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	left: 0;
	opacity: 0.45;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

@media screen and (max-width: 1280px) {
	.home video {
		display: none;
	}
}

/*--QUIENES SOMOS---------------------------------------------------*/
.somos {

}

/*--SERVICIOS-----------------------------------------------------------*/
.servicios {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #62C6EF;
}

/*--CONTACT-----------------------------------------------------------*/
.contacto {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(../img/contacto.jpg) fixed no-repeat 50% 50%;
  background-size: cover;
}

.social-contact img {
  height: 60px;
}

.social-contact img:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}


/*--FOOTER--------------------------------------------------------*/
.footer {
  background-color: #222222;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 10px;
}

.copyright {
    border-top: 1px solid;
    font-size: 0.8rem;
    opacity: 0.5;
    padding: 2rem 0;
    text-align: center;
    padding-bottom: 0px;
  }

.social-icons ul{
  padding-left: 0px;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0px;
}

.social-icons img {
  height: 24px;
}

.social-icons img:hover{ 
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}
